.chapter {
    position: relative;
    margin-bottom: 200px;
    box-sizing: border-box;
    height: 70vh;
    .chapter-deck {
        margin-bottom: 48px;
    }
    .chapter-descriptions {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;

        .chapter-description-wrapper {
            position: absolute;
            bottom: 0;
            width: 70%;
            left: 15%;
            padding: 8px;
            background-color: #fff;
            border: 1px solid #000;
            box-sizing: border-box;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

    }
}