.chapter {
    position: relative;
    margin-bottom: 400px;
    box-sizing: border-box;
    height: 200%;
    .chapter-deck {
        margin-bottom: 48px;
        z-index: 2;
        .chapter-btn {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 16;
            pointer-events: auto;
        }
    }
    .chapter-descriptions {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 15;

        .chapter-description-wrapper {
            position: absolute;
            bottom: -40px;
            height: 80px;
            width: 70%;
            left: 15%;
            background-color: #fff;
            border: 1px solid #000;
            box-sizing: border-box;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            // pointer-events: none;
        }

    }
}