.chapter {
    position: relative;
    margin-bottom: 200px;
    box-sizing: border-box;
    // height: 70vh;
    .chapter-deck {
        margin-bottom: 48px;
    }
    .chapter-descriptions {
        position: absolute;
        top: 300px;
        left: 0;
        right: 0;
        z-index: 1;

        .chapter-description-wrapper {
            position: absolute;
            top: 0;
            width: 50%;
            left: 25%;
            padding: 8px 48px;
            background-color: #fff;
            box-sizing: border-box;
        }
    }
}