.top-scroll-graphic {
    min-height: 50vh;
}

.top-scroll-graphic .top-scroll-graphic-header {
    position: sticky;
    padding-top: 32px;
    top: 64px;
    background-color: #fff;
    z-index: 10;
}
